@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #134F5C;
    color: #D0E0E3;
}

/** Encabezados */
h1,
h2 {
    font-family: 'Montserrat';
    font-size: 3.6em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 3em;
    color: #134F5C;
}

/** Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4em 2em;
    background-color: #FFF;
}

main p {
    font-size: 1.4em;
    line-height: 1.5;
    text-align: left;
    color: #134F5C;
}

main p strong,
main p em,
main p span,
main p a {
    font-size: 1em;
}

main p a {
    color: #134F5C;
}

main p strong {
    font-weight: 700;
}

main p em {
    font-style: italic;
}

main ul, main ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
    width: 100%;
}

main ul li, main ol li {
    margin-left: 2em;
    font-size: 2.4em;
    line-height: 1.5;
    text-align: left;
    color: #134F5C;
}

main ul li strong,
main ul li em,
main ul li a,
main ol li strong,
main ol li em,
main ol li a {
    font-size: 1em;
}

main ul li strong,
main ol li strong {
    font-weight: 700;
}

main ul li em,
main ol li em {
    font-style: italic;
}

main ul li a,
main ol li a {
    color: #134F5C;
}


button {
    background-color: #134F5C;
    color: #D0E0E3;
    height: 2rem;
    font-family: 'Montserrat';
    border: 1px solid #D0E0E3;
    border-radius: 5px;
}

button:hover{
    background-color: #165e6e;

}